## .NET and Visual Studio
##

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
# Ignore all .vscode files and folders
.vscode/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
Generated\ Files/
.localhistory/
.vshistory/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
.tye/
ScaffoldingReadMe.txt

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Terraform
##
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
.terraform.lock.hcl

## Environment Files
##
.env

## IDE and Editor Files
##
# Visual Studio Code
.history/

# JetBrains Rider
*.sln.iml
.idea/

# ReSharper/Visual Studio
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.gpState

## System Files
##
# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vim
*.swp

# Other ignored files
*~
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
