html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-link {
  color: rgb(220, 220, 220);
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(172, 95, 95);
  text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  color: white;
  background-color: rgb(15, 15, 15);
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ----------------------------------------------------- */
/* Hero Section with background image */
.hero-section {
  position: relative;
  padding: 100px 20px;
  background-image: url('/images/soundwaves.png');
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  max-width: 900px; /* Begränsar sektionens maxbredd */
  margin-left: auto; /* Centrerar sektionen */
  margin-right: auto;
}

/* Transparant overlay */
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

/* Innehåll ovanpå bakgrunden */
.hero-content {
  position: relative;
  z-index: 2; /* Säkerställer att innehållet visas ovanpå bakgrunden */
}

/* Bättre textläsbarhet mot mörk bakgrund */
.hero-section h1,
.hero-section p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Card hover effect */
.card {
  transition: transform 0.3s ease;
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255, 155, 155, 0.151);
}

.card:hover {
  transform: translateY(-5px);
}

.card-logo {
  color: rgba(255, 52, 52, 0.7);
}

/* Button styling */
.btn-primary {
  background-color: rgb(15, 15, 15);
  border-color: #ff5252;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff52523f;
  border-color: #ff52523f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Icon colors */
.text-primary i {
  color: #0d6efd;
}

.header-logo {
  width: 5rem;
  height: auto;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus {
  border-color: transparent;
  box-shadow: none; /* Lägg till denna rad */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
